/* chung */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* mục tiêu nghề nghiệp */
#target {
  background: #f7f7f7;
  line-height: 1.5;
  height: 100%;
}
/* ảnh cover */
.my-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* chữ trên ảnh cover */
.my-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.my-text h1 {
  font-size: 50px;
  font-weight: 700;
}

/* nav bar */
.info {
  position: relative;
  display: block;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
i {
  color: blue;
}
/* gạch dọc trên nav bar */
.info::before {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  border-left: 2px solid #ece7e7;
  top: 50%;
  transform: translateY(-50%);
}

.info::after {
  position: absolute;
  content: "";
  height: 100%;
  right: 0;
  border-left: 2px solid #ece7e7;
  top: 50%;
  transform: translateY(-50%);
}
.nav-bar__item:nth-child(2) > .info::after,
.nav-bar__item:nth-child(4) > .info::after {
  display: none;
}
/* avatar trên nav bar */
.nav-bar__img {
  border-radius: 100%;
  border: 10px solid white;
  position: absolute;
  flex-shrink: unset !important;
  width: unset !important;
  max-width: unset !important;
  padding-right: unset !important;
  padding-left: unset !important;
  margin-top: unset !important;
  right: 50%;
  top: -100%;
  transform: translateX(50%);
  z-index: 1;
}
/* mục tiêu nghề nghiệp + thông tin cá nhân */
.target {
  margin-bottom: 24px;
}
#personal-info span {
  font-weight: bold;
}
#personal-info {
  background-color: #ece7e7;
}
.mt-40_info {
  line-height: 1.5;
}
#personal-info ul {
  list-style-type: none;
}
/* icon phần nội dung chính */
.exp i,
.study i,
.active i,
.project_detail i {
  color: #c5c6c7;
}

/* kinh nghiệm + học vấn + hoạt động */
.height-100 {
  height: 100%;
}
ul {
  margin-left: 40px;
}

/* chấm tròn xanh */
::marker {
  color: #199cdb;
  font-size: 22px;
}

/* kinh nghiệm */
.exp {
  border: 2px solid #ebecee;
  display: grid;
  grid-template-columns: 3fr 1fr;
  line-height: 1.5;
}
.exp_title {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.exp_detail {
  grid-column: 1/-1;
  grid-row: 2;
  margin-right: 10%;
  margin-bottom: 10%;
}
/* mốc thời gian */
.exp_time span {
  border: 1px solid blue;
  width: 50px;
  height: 15px;
  border-radius: 40px;
  /* justify-content: center; */
  /* align-items: center; */
  color: white;
  background-color: blue;
  padding: 0 10px;
}
/* học vấn */
.ic-toolbox {
  /* grid-column: 2;
  grid-row: 1; */
  font-size: xx-large;
  margin-top: 35%;
}
/* học vấn */
.study {
  /* grid-column: 2;
  grid-row: 1; */
  border: 2px solid #ebecee;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
  line-height: 1.5;
}
.study_title {
  /* grid-column: 1;
  grid-row: 1; */
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.study_detail {
  grid-column: 1/-1;
  grid-row: 2;
  margin-right: 10%;
}
.ic-pencil {
  /* grid-column: 2;
  grid-row: 1; */
  font-size: xx-large;
  margin-top: 35%;
}
/* hoạt động */
.active {
  /* grid-column: 3;
  grid-row: 1; */
  border: 2px solid #ebecee;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
  line-height: 1.5;
}
.active_title {
  /* grid-column: 1;
  grid-row: 1; */
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.active_detail {
  grid-column: 1/-1;
  grid-row: 2;
  margin-right: 10%;
}
/* sở thích + ngôn ngữ + kỹ năng */
.box {
  border: 1px solid #dddedf;
  padding: 30px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.head i {
  font-size: 32px;
  margin-right: 20px;
  color: #dddedf;
}
.body {
  display: flex;
  gap: 30px;
}
/* tạo viền quanh icon */
.rounded-icon span {
  border: 1px solid blue;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.rounded-icon i {
  font-size: 24px;
}
/* .language-skill + .language-skill {
  margin-top: 15px;
} */
/* tạo thanh tiến trình */
.language-skill .line span {
  display: inline-block;
  height: 2px;
  width: 50px;
  background-color: #199cdb;
}
.language-skill .line span.disabled {
  background-color: #737374;
}
/* .language-skill .line span + span {
  margin-left: 20px;
} */
/* .skill + .skill {
  margin-top: 10px;
} */
.skill .line span {
  display: inline-block;
  height: 2px;
  width: 50px;
  background-color: #199cdb;
}
.skill .line span.disabled {
  background-color: #737374;
}
/* .skill .line span + span {
  margin-left: 20px;
} */
/* chứng chỉ */
/* .cer_detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1200px;
  margin: 30px auto;
  row-gap: 30px;
} */
.cer_web img,
.cer_app img,
.cer_HTML img,
.cer_CSS img {
  height: 100px;
  width: 200px;
}
.heading_cer {
  text-transform: uppercase;
  /* font-weight: bold; */
}
.cer_web {
  /* grid-column: 1;
  grid-row: 1; */
  display: flex;
}

.cer_app {
  /* grid-column: 2;
  grid-row: 1; */
  display: flex;
  position: relative;
}
/* tạo border */
.cer_app::before {
  position: absolute;
  content: "";
  height: 100%;
  border-left: 2px solid #d6c08d;
  left: -12px;
}
.cer_CSS::before {
  position: absolute;
  content: "";
  height: 100%;
  border-left: 2px solid #d6c08d;
  left: -12px;
}
.cer_HTML {
  /* grid-column: 1;
  grid-row: 2; */
  display: flex;
}
.cer_CSS {
  /* grid-column: 2;
  grid-row: 2; */
  display: flex;
  position: relative;
}
.bg-grey {
  background-color: #f7f7f7;
  margin: auto;
  /* padding: 40px 0; */
}
.section-title-cer {
  padding: 24px 0 24px 12px;
}
/* dự án */
.project {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 30px auto;
  /* justify-content: center; */
}
.project_detail img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.project_detail .heading {
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 2px solid #dddedf;
  border-left: 2px solid #dddedf;
  border-right: 2px solid #dddedf;
  font-weight: bold;
  height: 76px;
  display: flex;
  align-items: center;
}
.detail {
  padding: 10px;
  border-left: 2px solid #dddedf;
  border-right: 2px solid #dddedf;
}
.detail i {
  padding-right: 10px;
}
/* nội dung dự án */
table {
  border-collapse: collapse;
  line-height: 1.5;
  height: 315px;
  width: 100%;
}
tr {
  border: 2px solid #dddedf;
  border-width: 1px !important;
  border-color: #dddedf !important;
}
/* tbody,
tfoot,
th,
thead, */
/* tr {
  border-width: 1px !important;
  border-color: #dddedf !important;
} */
td {
  padding-left: 10px;
}
/* năm hoàn thành dự án */
.year {
  border: 1px solid blue;
  display: flex;
  width: 110px;
  height: 35px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
}
.detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
/* footer */
#footer {
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}
#footer i {
  padding-right: 10px;
  font-size: 20px;
}
#footer a {
  text-decoration: none;
}
#footer span {
  padding-left: 20px;
}
.section-title-project {
  padding: 20px 0 20px 12px;
}
/* @media (max-width: 500px) {
  .navbar {
    height: 110px;
  }
  .navbar.flex {
    flex-direction: column;
  }

  .grid,
  .navbar .grid .container_info .grid .section-title-info .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
} */
