/* icon css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* chung */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
p {
  margin-bottom: 0 !important;
}
/* mục tiêu nghề nghiệp */
#target {
  background: #f7f7f7;
  line-height: 1.5;
  height: 100%;
}
/* ảnh cover */
.my-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* chữ trên ảnh cover */
.my-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.my-text h1 {
  font-size: 50px;
  font-weight: 700;
}

/* nav bar */
.info {
  position: relative;
  display: block;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
i {
  color: blue;
}
/* gạch dọc trên nav bar */
.info::before {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  border-left: 2px solid #ece7e7;
  top: 50%;
  transform: translateY(-50%);
}
.info::after {
  position: absolute;
  content: "";
  height: 100%;
  right: 0;
  border-left: 2px solid #ece7e7;
  top: 50%;
  transform: translateY(-50%);
}
.nav-bar__item:nth-child(2) > .info::after,
.nav-bar__item:nth-child(4) > .info::after {
  display: none;
}
/* avatar trên nav bar */
.nav-bar__img {
  border-radius: 100%;
  border: 10px solid white;
  position: absolute;
  width: unset !important;
  padding-right: unset !important;
  padding-left: unset !important;
  right: 50%;
  top: -100%;
  transform: translateX(50%);
  z-index: 1;
}
/* mục tiêu nghề nghiệp + thông tin cá nhân */
.target {
  margin-bottom: 24px;
}
#personal-info span {
  font-weight: bold;
}
#personal-info {
  background-color: #ece7e7;
}
.mt-40_info {
  line-height: 1.5;
}
#personal-info ul {
  list-style-type: none;
}
#personal-info {
  height: 100%;
}
.form {
  margin-top: -20px;
}
/* icon phần nội dung chính */
.exp i,
.study i,
.active i,
.project_detail i {
  color: #c5c6c7;
}

/* kinh nghiệm + học vấn + hoạt động */
.height-100 {
  height: 100%;
}
button {
  border: none;
  background-color: white;
}
.btn-warning {
  margin-bottom: 10px;
}
/* mốc thời gian */
.exp_time span {
  border: 1px solid blue;
  width: 50px;
  height: 15px;
  border-radius: 40px;
  color: white;
  background-color: blue;
  padding: 0 10px;
}
/* chấm tròn xanh */
::marker {
  color: #199cdb;
  font-size: 22px;
}
/* các ô nội dung chính  */
.box {
  border: 1px solid #dddedf;
  padding: 30px;
}
.head {
  display: flex;
  justify-content: space-between;
}
.head i {
  font-size: xx-large;
  margin-right: 20px;
  color: #dddedf;
}
.body {
  display: flex;
  gap: 30px;
}
/* tạo viền quanh icon */
.rounded-icon span {
  border: 1px solid blue;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.rounded-icon i {
  font-size: 24px;
}
/* tạo thanh tiến trình */
/* ngôn ngữ */
.language-skill .line span {
  display: inline-block;
  height: 2px;
  width: 50px;
  background-color: #199cdb;
}
.language-skill .line span.disabled {
  background-color: #737374;
}
/* kỹ năng */
.body .line span {
  display: inline-block;
  height: 2px;
  width: 50px;
  background-color: #199cdb;
}
.body .line span.disabled {
  background-color: #737374;
}
.skill {
  display: flex;
  flex-direction: column;
  gap: 0 !important;
}
/* chứng chỉ */
.bg-grey {
  background-color: #f7f7f7;
}
.section-title-cer {
  padding: 24px 0 24px 12px;
}
.cer_web img,
.cer_app img,
.cer_HTML img,
.cer_CSS img {
  height: 100px;
  width: 200px;
}
.heading_cer {
  text-transform: uppercase;
  padding-left: 10px;
}
.cer_web {
  display: flex;
}
.cer_app {
  display: flex;
  position: relative;
}
/* tạo border */
.cer_app::before {
  position: absolute;
  content: "";
  height: 100%;
  border-left: 2px solid #d6c08d;
  left: -12px;
}
.cer_CSS::before {
  position: absolute;
  content: "";
  height: 100%;
  border-left: 2px solid #d6c08d;
  left: -12px;
}
.cer_HTML {
  display: flex;
}
.cer_CSS {
  display: flex;
  position: relative;
}
/* Dự án */
.section-title-project {
  padding: 20px 0 20px 12px;
}
.project_detail img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.project_detail .heading_project {
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 2px solid #dddedf;
  border-left: 2px solid #dddedf;
  border-right: 2px solid #dddedf;
  font-weight: bold;
  height: 76px;
  display: flex;
  align-items: center;
}
.detail {
  padding: 10px;
  border-left: 2px solid #dddedf;
  border-right: 2px solid #dddedf;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.detail i {
  padding-right: 10px;
}
table {
  height: 315px;
}
tr {
  border: 2px solid #dddedf;
  border-width: 1px !important;
  border-color: #dddedf !important;
}
td {
  padding-left: 10px;
}
.link {
  text-decoration: none;
}
/* năm hoàn thành dự án */
.year {
  border: 1px solid blue;
  display: flex;
  width: 70px;
  height: 35px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
}
/* footer */
#footer {
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}
#footer i {
  padding-right: 10px;
  font-size: 20px;
}
#footer a {
  text-decoration: none;
}
#footer span {
  padding-left: 20px;
}
@media (min-width: 992px) {
  table {
    border-collapse: collapse;
    line-height: 1.5;
    height: 260px;
    width: 100%;
  }
}
