@media (max-width: 576px) {
  .cer_app::before {
    display: none;
  }
  .cer_CSS::before {
    display: none;
  }
  #footer a {
    display: none;
  }
  .my-text h1 {
    font-size: 30px;
  }
  .info {
    padding: 12px 0 12px 40px;
    text-align: left;
  }
  .info::before,
  .info::after {
    display: none;
  }
  .display-none {
    display: none !important;
  }
  .cer_web,
  .cer_app,
  .cer_HTML {
    margin-bottom: 24px;
    border-bottom: 2px solid #d6c08d;
  }
  table {
    border-collapse: collapse;
    line-height: 1.5;
    height: 226px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .cer_app::before {
    display: none;
  }
  .cer_CSS::before {
    display: none;
  }
  .my-text {
    width: 384px;
  }
  .detail {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 992px) {
  .nav-bar__img {
    display: none;
  }
  .cer_web,
  .cer_app,
  .cer_HTML,
  .cer_CSS {
    flex-direction: column;
  }
  .cer_web img,
  .cer_app img,
  .cer_HTML img,
  .cer_CSS img {
    height: unset;
    width: 100%;
  }
  .web_detail,
  .app_detail,
  .HTML_detail,
  .CSS_detail {
    margin-top: 12px;
  }
}

@media (min-width: 992px) {
  table {
    border-collapse: collapse;
    line-height: 1.5;
    height: 260px;
    width: 100%;
  }
}
